@import "../../css-config/mixins.scss";

table {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.tr-1 th, td {
    font-size: 15px;
    padding-right: 130px;
    padding-top: 0px;
}

.tr-2 th {
    font-size: 15px;
    padding-left: 80px;
}

.tr-3 th {
    font-size: 15px;
    padding-left: 30px;
}

.divider {
    margin: 20px 0;
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

thead {
    display: flex;
}

.cart-head{
    align-items: center;
    display: flex;
    flex-direction: column;
}

