.addprod-container {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
}

.addprod-form {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 10px;
    width: 600px;
}

.addprod-form p {
    font-size: 25px;
    margin: 0px;
}

.addprod-form label {
    padding: 0px;
    margin-top: 5px;
    font-weight: 700;
    font-size: 16px;
}

.addprod-form input {
    margin: 2px;
    border-radius: 5px;
    padding: 5px;
    border: 2px solid rgb(154, 154, 154);
    font-size: 17px;
}

.addprod-form textarea {
    margin: 2px 0px;
    border-radius: 5px;
    padding: 5px;
    border: 2px solid rgb(154, 154, 154);
    font-size: 17px;
}

.addprod-form input:focus {
    outline: 2px solid #0FE8CD;
    border: none;
}

.addprod-form button {
    margin: 10px 0px;
    border: none;
    font-size: 20px;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    padding: 5px;
}

.addprod-form button:hover {
    background-color: black;
    color: rgb(9, 228, 199);
    cursor: pointer;
}

.success-msg {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgb(229, 255, 228);
    padding: 10px;
    border-radius: 10px;
    color: green;
}

.error-msg {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgb(255, 228, 228);
    padding: 10px;
    border-radius: 10px;
    color: red;
}

@keyframes slide-up {
    0% {
      transform: translateY(-5rem);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes slide-down {
    0% {
      transform: translateY(5rem);
    }
    100% {
      transform: translateY(0);
    }
  }


@media screen and (max-width: 700px) {
  .img {
    display: none;
  }
}